* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    background-color: rgb(83, 83, 168);
    justify-content: center;
}

header img {
    width: 200px;
}

header h1 {
    font-size: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    }

header h2 {
    font-size:60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;

}


main {
    text-align: center;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main div img {
    width: 900px;
    border-radius: 20px;
}
